<h2 class="page-header">Organizers</h2>

<div class="row">
  <form class="m-b-10 p-l-0 col-sm-4">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="query_name" placeholder="Search for users">
      <span class="input-group-addon"><i class="fa fa-search"></i></span>
    </div>
  </form>
</div>

<div class="row">
  <div id="options" class="m-b-10">
    <span class="gallery-option-set">
      <span ng-repeat="role in roles">
        <a
          href="javascript:;"
          ng-click="role.search = !role.search"
          class="btn btn-default btn-xs"
          ng-class="{'active': role.search}">{{ role.name }}</a>
      </span>
    </span>
  </div>
</div>
<div class="row">
  <div class="gallery isotope">
    <div ng-repeat="user in users | filter:search" class="image isotope-item">
      <div class="image-inner"><img src="/api/getUserAvatar/{{ user.foreign_id }}"></div>
      <div class="image-info">
        <span>
          <div class="pull-right">
            <h6 ng-repeat="role in user.roles">{{ role.name }}</h6>
          </div>
          <div>
            <h5>{{ user.data.first_name }} {{ user.data.last_name }}</h5>
            <h6>{{ user.data.antenna_name }}</h6>
          </div>
          
          <div class="desc">{{ user.comment }}</div>
        </span>
      </div>
  	</div>
  </div>
</div>