<h2>Events you can approve</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <td>#</td>
      <td>Name</td>
      <td>Type</td>
      <td>Current status</td>
      <td>Change to</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="event in events">
      <td>{{ $index+1 }}</td>
      <td><a ui-sref="app.events.single({ id: event.id })">{{ event.name }}</a></td>
      <td>{{ event.type }}</td>
      <td>{{ event.status.name }}</td>
      <td>
        <select ng-model="event.futureStatus" ng-options="status.name for status in event.futureStatuses" />
      </td>
      <td>
        <button class="btn btn-sm btn-success" ng-disabled="!event.futureStatus" ng-click="changeState(event, event.futureStatus._id)">
          <i class="fa fa-plus-circle"></i> Change
        </button>
      </td>
    </tr>

    <tr ng-show="events.length == 0">
      <td colspan="5">There are no requests for approval right now or you don't have the permission.</td>
    </tr>
  </tbody>
</table>
