<!-- TODO should be included in core -->
<link rel="stylesheet" href="https://ghiden.github.io/angucomplete-alt/css/angucomplete-alt.css">

<div class="row">
  <div class="col-lg-6">
    <h3>Service status</h3>
    <div class="row">
      <div class="col-sm-3">Uptime</div>
      <div class="col-sm-6">{{ status.uptime }}</div>
    </div>

    <div class="row">
      <div class="col-sm-3">Request count</div>
      <div class="col-sm-6">{{ status.requests }}</div>
    </div>

    <div class="row">
      <div class="col-sm-3">Deadline crons</div>
      <div class="col-sm-6">{{ status.deadline_crons }}</div>
    </div>

    <div class="row">
      <div class="col-sm-3">Handshake token</div>
      <div class="col-sm-6">{{ status.handshake_token }}</div>
    </div>

    <div class="row">
      <div class="col-sm-3">Roundtrip</div>
      <div class="col-sm-6">{{ roundtrip2 }}ms</div>
    </div>
  </div>

  <div class="col-lg-6">
    <h3>User details</h3>

    <div class="row">
      <div class="col-sm-3">Name</div>
      <div class="col-sm-6">{{ user.details.fullname }}</div>
    </div>

    <div class="row">
      <div class="col-sm-3">Roundtrip</div>
      <div class="col-sm-6">{{ roundtrip1 }}ms</div>
    </div>
  </div>
</div>

<div class="row">
  <h3>Event Lifecycle Management</h3>

  <div ng-repeat="eventType in eventTypes">
    <h4>{{ eventType.name }}</h4>
    <hr />

    <p>Name: </p><input ng-model="eventType.name" />
    <p>Initial status: </p><select ng-model="eventType.defaultLifecycle.initialStatus" ng-options="status.name as status.name for status in eventType.defaultLifecycle.status"></select>

    <h5>Statuses</h5>
    <table class="table">
      <thead>
        <tr>
          <td>Name</td>
          <td>Access rights</td>
          <td>Remove</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(statusIndex, status) in eventType.defaultLifecycle.status">
          <td><input ng-model="status.name" /></td>
          <td>
            <button ng-click="showModal(status.visibility, 'visibility');">Change visibility</button>
            <button ng-click="showModal(status.edit_details, 'details')">Change who can edit the event</button>
            <button ng-click="showModal(status.edit_organizers, 'organizers')">Change who can edit organizers</button>
          </td>
          <td>
            <button ng-click="eventType.defaultLifecycle.status.splice(statusIndex, 1)">Remove status</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button ng-click="addNewStatus(eventType)">Add status</button>

    <h5>Transitions</h5>
    <table class="table">
      <thead>
        <tr>
          <td>From</td>
          <td>To</td>
          <td>Allowed for</td>
          <td>Remove</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(transitionIndex, transition) in eventType.defaultLifecycle.transitions">
          <td>
            <select ng-model="transition.from" ng-options="status.name as status.name for status in eventType.defaultLifecycle.status" />
          </td>
          <td>
            <select ng-model="transition.to" ng-options="status.name as status.name for status in eventType.defaultLifecycle.status" />
          </td>
          <td>
            <button ng-click="showModal(transition.allowedFor, 'transition permissions')">Change transition permissions</button>
          </td>
          <td>
            <button ng-click="eventType.defaultLifecycle.transitions.splice(transitionIndex, 1)">Remove transition</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button ng-click="addNewTransition(eventType)">Add transition</button>

    <button ng-click="updateLifecycle(eventType)">Save</button>

    <button ng-click="deleteLifecycle(eventType)">Delete</button>

    <hr/>
  </div>

  <button ng-click="addNewEventType()">Add new lifecycle</button>
  <!--<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Statuses</th>
        <th>Transitions</th>
        <th>Default status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="eventType in eventTypes">
        <td>
          <input ng-model="eventType.name" />
        </td>
        <td>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="status in eventType.defaultLifecycle.status">
                <td>
                  <input ng-model="status.name" />
                </td>
                <td>
                  <div>
                    <strong>Users: </strong>
                    <ul>
                      <li ng-repeat="entry in status.visibility.users">
                        {{ entry }}
                        <a href="" ng-click="status.visibility.users.splice($index, 1)">x</a>
                      </li>
                    </ul>
                  </div>
                  <div>
                    <strong>Roles: </strong>
                    <ul>
                      <li ng-repeat="entry in status.visibility.roles">
                        {{ entry }}
                        <a href="" ng-click="status.visibility.roles.splice($index, 1)">x</a>
                      </li>

                    </ul>
                  </div>
                  <div>
                    <strong>Bodies: </strong>
                    <ul>
                      <li ng-repeat="entry in status.visibility.bodies">
                        {{ entry }}
                        <a href="" ng-click="status.visibility.bodies.splice($index, 1)">x</a>
                      </li>
                    </ul>
                  </div>
                  <div>
                    <strong>Special: </strong>
                    <ul>
                      <li ng-repeat="entry in status.visibility.special">
                        {{ entry }}
                        <a href="" ng-click="status.visibility.special.splice($index, 1)">x</a>
                      </li>
                      <input ng-model="tempVisibleSpecial" />
                      <button ng-click="addNoDup(status.visibility.special, tempVisibleSpecial)">Add</button>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <table class="table">
            <thead>
              <tr>
                <th>From</th>
                <th>To</th>
                <th>Who can do this</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="transition in eventType.defaultLifecycle.transitions">
                <td>
                  <select ng-model="transition.from" ng-options="status.name as status.name for status in eventType.defaultLifecycle.status" />
                </td>
                <td>
                  <select ng-model="transition.to" ng-options="status.name as status.name for status in eventType.defaultLifecycle.status" />
                </td>
                <td>
                  <div>
                    <strong>Users: </strong>
                    <ul>
                      <li ng-repeat="entry in transition.allowedFor.users">{{ entry }}</li>
                    </ul>
                  </div>
                  <div>
                    <strong>Roles: </strong>
                    <ul>
                      <li ng-repeat="entry in transition.allowedFor.roles">{{ entry }}</li>
                    </ul>
                  </div>
                  <div>
                    <strong>Bodies: </strong>
                    <ul>
                      <li ng-repeat="entry in transition.allowedFor.bodies">{{ entry }}</li>
                    </ul>
                  </div>
                  <div>
                    <strong>Special: </strong>
                    <ul>
                      <li ng-repeat="entry in transition.allowedFor.special">{{ entry }}</li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <select ng-model="eventType.defaultLifecycle.initialStatus" ng-options="status.name as status.name for status in eventType.defaultLifecycle.status" />
        </td>
        <td>
          <button type="button" class="btn btn-primary col-sm-6" ng-click="updateLifecycle(eventType)">Save</button>
        </td>
      </tr>
    </tbody>
  </table>-->
</div>




<!-- Modal to show one access object
Each access object should have the properties
- description (string)
- save (function, stores the changes to the global access object in the correct way)
- users (arr)
- roles (arr)
- bodies (arr)
- special (arr)
 -->
<div class="modal fade" id="accessModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Edit {{ access.description }}</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <tbody>
            <tr>
              <td>Users</td>
              <td>
                <ul>
                  <li ng-repeat="user in access.users">
                    {{ user }}
                    <a href="#" ng-click="access.users.splice($index, 1)">x</a>
                  </li>
                </ul>
                <angucomplete-alt id="membersAutocomplete"
                  placeholder="Search members"
                  pause="50"
                  selected-object="tmpUser"
                  remote-api-handler="fetchUserData"
                  title-field="name"
                  description-field=""
                  minlength="1"
                  input-class="form-control form-control-small">
                </angucomplete-alt>
                <button ng-click="access.users.push(tmpUser.originalObject.name); clearInput('membersAutocomplete');">Add</button>
              </td>
            </tr>
            <tr>
              <td>Roles</td>
              <td>
                <ul>
                  <li ng-repeat="role in access.roles">
                    {{ role }}
                    <a href="#" ng-click="access.roles.splice($index, 1)">x</a>
                  </li>
                </ul>
                <angucomplete-alt id="rolesAutocomplete"
                  placeholder="Search Roles"
                  pause="50"
                  selected-object="tmpRole"
                  remote-api-handler="fetchRoleData"
                  title-field="name"
                  description-field=""
                  minlength="1"
                  input-class="form-control form-control-small">
                </angucomplete-alt>
                <button ng-click="access.roles.push(tmpRole.originalObject.name); clearInput('rolesAutocomplete');">Add</button>
              </td>
            </tr>
            <tr>
              <td>Bodies</td>
              <td>
                <ul>
                  <li ng-repeat="body in access.bodies">
                    {{ body }}
                    <a href="#" ng-click="access.bodies.splice($index, 1)">x</a>
                  </li>
                </ul>
                <angucomplete-alt id="bodiesAutocomplete"
                  placeholder="Search bodies"
                  pause="50"
                  selected-object="tmpBody"
                  remote-api-handler="fetchBodyData"
                  title-field="name"
                  description-field=""
                  minlength="1"
                  input-class="form-control form-control-small">
                </angucomplete-alt>
                <button ng-click="access.bodies.push(tmpBody.originalObject.name); clearInput('bodiesAutocomplete');">Add</button>
              </td>
            </tr>
            <tr>
              <td>Special</td>
              <td>
                <ul>
                  <li ng-repeat="special in access.special">
                    {{ special }}
                    <a href="#" ng-click="access.special.splice($index, 1)">x</a>
                  </li>
                </ul>
                <angucomplete-alt id="specialAutocomplete"
                  placeholder="Search special roles"
                  pause="50"
                  selected-object="tmpSpecial"
                  local-data="specialRolesData"
                  search-fields="name"
                  title-field="name"
                  description-field="description"
                  minlength="0"
                  input-class="form-control form-control-small">
                </angucomplete-alt>                   
                <button ng-click="access.special.push(tmpSpecial.originalObject.name); clearInput('specialAutocomplete');">Add</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-success" ng-click="access.save()"><i class="fa fa-plus-circle"></i> Accept</button>
      </div>
    </div>
  </div>
</div>